[Unit]
Description=Pi Rack (U6143) OLED display service
After=network.target

[Service]
Type=idle
ExecStart=/usr/bin/pi-stats

[Install]
WantedBy=multi-user.target
